.wrapper {
	padding-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#mainBox {
	max-width: 500px;
	min-width: 320px;
	margin: 0 auto;
	z-index: 1;
}

#mainBox > div{
	background-color:#ffffff;
	z-index: 1;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#mainBox > div:nth-child(1) div{
	margin-top: 20px;
}

#serviceName {
	text-align: center;
	padding-top:20px;
}

#join {
	margin-top:10px;
	text-align: center;
}


form {
	width: 70%;
	margin: 0 auto;
}

#loginButton {
	margin: 20px auto;
	height: 34px;
	padding-top:7px;
	text-align:center;
	border-radius: 4px;
	
	width:70%;
}


