.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 850px;
}

aside {
	width: 20%;
	margin: 0;
	float:left;
}
section {
	width: 60%;
	margin: 0;
	float:left;
}

#serviceName {
	font-size: 40px;
}

