.noPageMoveIcon:active {
	color:#f0f6fc;
}

body{
	background-color:#eceff1;
}

.clickable{
	cursor:pointer;
}

.color_proc{
	background-color: #4caf50;
	color: #f0f6fc;
	font-weight: bold;
}

.color_proc:hover {
	background-color: #087f23;
	color: #f0f6fc;
	font-weight: bold;
}

.font_color_proc {
	color: #4caf50;
	font-weight: bold;
}

.font_color_proc:hover {
	color: #087f23;
	font-weight: bold;
}

.inner_btn{
	border:0;
	position: absolute;
}